.results a{
    color: rgb(37, 77, 185);
    text-decoration: none;
    text-align: start;
    display: block;
    font-weight: 900;
}

.results{
    list-style-type: none;
}

.results li{
    padding: 0.5rem 2em;
}