.advertOne{
    display: block;
    width: 30%;
}

.flex{
    display: flex;
}

.cardAdvert{
    width: 100%!important;
    margin: 10px;
}

@media (max-width: 768px) {
    .flex{
        flex-direction: column;
    }

    .advertOne{
        width: 100%;
    }

    .advertOne p{
        width: 100%;
    }
}