.navbar {
  background-color: #CCD5AE!important;
  color: #fff;
  padding: 1rem;
  /* display: flex; */
  /* justify-content: start;
  align-items: center; */
  /* position: fixed; */
  top: 0;
  bottom: auto;
  width: 100%;
  z-index: 1000;
}

.navbar-nav{
  /* display: flex;
  justify-content: center;
  align-items: center; */

}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  
}

.nav-link{
  display: flex;
  justify-content: center;
  align-items: center; 
 padding: 0.5rem 1rem;
}

.navbar-collapse{
  margin: 10px;
  flex-basis: auto!important;

}

.nav-link p{
  margin: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bold; 
}

.nav-link p, .nav-link, .navbar-brand {
  color: #fff;
  text-decoration: none;
}

.active {
  background-color: #212529;
}

.divConnect{
  justify-content: end;
}

.logo{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 5000px;
}

#basic-navbar-nav{
  display: flex!important;
}

#basic-navbar-nav .navbar-nav{
  flex-direction: row!important;

}

@media (max-width: 768px) {
  .navbar{
    padding: 1em 0;
  }

  .nav-item {
    /* width: 20%; */
  }

  .navbar-brand {
    font-size: 1.2rem;
    display: none;
  }
  
  .nav-link {
    /* flex-direction: column; */
    padding: 0px;
  }

  .nav-link p {
    font-size: 0.7rem;
    padding: 0.3rem;
    /* word-wrap: break-word; */
  }

  .nav-link icon{
    font-size: 3em;
  }

  .navbar{
    bottom: 0;
    top: auto;
    justify-content: space-between;
  }

  .navbar-collapse, .navbar-nav{
    width: 100%;
    justify-content: space-between;
    flex-direction: row!important;
    display: flex!important;
  }

  /* .navbar-nav{
    display: flex!important;
    flex-direction: row!important;
  } */

  .navbar-collapse{
    margin: 0px;

  }
  #conteinerNavbar{
    flex-wrap: nowrap!important;
    display: flex!important;
  }
}