form {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0 auto;
  }
  
  .search-input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    border-bottom: 2px solid #333;
    font-size: 1.2rem;
    width: 100%;
  }

  select {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    border-bottom: 2px solid #333;
    font-size: 1.2rem;
    width: 40%;
  }
  
  button[type="submit"] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  
@media (max-width: 768px) {
    
    form {
      /* width: 80%; */
      flex-direction: column;
    }

    .search-input, select, button[type="submit"] {
        font-size: 2rem;
        width: 100%;
        margin: 0.5rem 0;
    }

}
  
  
  